@use "../variables" as *;
@use "../mixins" as *;

@keyframes fadein {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.landscapeCarousel {
  position: relative;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 15px;
  height: calc(40vh - 30px);
  width: calc(100% - 30px);
  margin: 5px 15px 20px;
  display: flex;
  animation: fadein 0.3s;
}

.poster {
  height: 100%;
  max-width: 200px;
  border-radius: 15px 0 0 15px;
}

.textContent {
  width: inherit;
  padding: 10px 25px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
  &:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: $D_minorHeadingFontSize;
  text-decoration: none;
  padding: 10px 0;
}

.synopsis {
  font-style: normal;
  font-weight: 500;
  font-size: $D_subContentFontSize;
  padding: 10px 0;
  text-align: justify;
}

.genre {
  font-weight: 400;
  font-size: $D_subContentFontSize;
  padding-top: 20px;
  img {
    height: 10px;
    width: 10px;
  }
}

.btn {
  height: calc(40vh - 30px);
  padding: 0 10px;
  position: absolute;
  z-index: 9;
  opacity: 0.5;
  background-color: transparent;
  background-image: linear-gradient(rgba(22, 220, 255, 0), rgba(22, 220, 255, 0.7), rgba(22, 220, 255, 0));
  border: none;
  transition: transform 100ms;
  &:hover {
    background-image: linear-gradient(rgba(22, 220, 255, 0), rgb(0, 217, 255), rgba(22, 220, 255, 0));
    transform: scaleX(1.15);
  }
}
.leftbtn {
  left: 0px;
}
.rightbtn {
  right: 0px;
}
.arrow {
  height: 20px;
  width: 20px;
}

@include TabletView {
  .landscapeCarousel {
    height: 200px;
    width: calc(100% - 20px);
  }
  .poster {
    max-width: 150px;
  }
  .textContent {
    padding: 5px 15px;
  }
  .title {
    font-size: $T_minorHeadingFontSize;
    padding: 5px 0;
  }
  .synopsis {
    font-size: $T_subContentFontSize;
    padding: 2px 0;
  }
  .genre {
    font-size: $T_subContentFontSize;
    padding-top: 10px;
  }
  .btn {
    height: 200px;
    padding: 0 5px;
  }
}

@include MobileView {
  .landscapeCarousel {
    height: 150px;
  }
  .textContent {
    padding: 5px 10px;
  }
  .poster {
    max-width: 100px;
  }
  .title {
    font-size: $M_minorHeadingFontSize;
  }
  .synopsis {
    font-size: $M_subContentFontSize;
  }
  .genre {
    font-size: $M_subContentFontSize;
    padding-top: 5px;
  }
  .btn {
    height: 150px;
  }
}
