@use "../variables" as *;
@use "../mixins" as *;

.title {
    padding-left: 10px;
    margin: 0px 0px 5px 10px;
    font-style: normal;
    font-weight: 600;
    font-size: $D_majorHeadingFontSize;
    color: rgba(255, 255, 255, 0.5);
}
.listing {
    background: rgba(196, 196, 196, 0.3);
    border-radius: 15px;
    margin: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 10px;
    justify-content: space-evenly;
    &::-webkit-scrollbar {
        display: none;
    }
}

.poster {
    padding: 10px;
}

.img {
    border-radius: 5px;
    width: 150px;
    height: 210px;
    object-fit: cover;
    transition: transform 400ms;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

@include TabletView {
    .title {
        font-size: $T_majorHeadingFontSize;
    }
    .listing {
        margin: 5px 0px 5px 10px;
        padding: 5px;
    }
    .img {
        width: 120px;
        height: 170px;
        &:hover {
            transform: scale(1.08);
        }
    }
    .poster {
        padding: 5px;
    }
}
