// Break Points
$intermediateView: 1180px;
$tabletView: 740px;
$mobileView: 460px;

// Font Size Desktop View
$D_logoFontSize: 30px;
$D_majorHeadingFontSize: 24px;
$D_minorHeadingFontSize: 20px;
$D_subHeadingFontSize: 16px;
$D_mainContentFontSize: 14px;
$D_subContentFontSize: 12px;
// Font Size Intermediate View
$I_logoFontSize: 26px;
// Font Size Tablet View
$T_logoFontSize: 24px;
$T_majorHeadingFontSize: 20px;
$T_minorHeadingFontSize: 18px;
$T_subContentFontSize: 10px;
// Font Size Mobile View
$M_minorHeadingFontSize: 14px;
$M_subContentFontSize: 10px;
