// Break Points
$intermediateView: 1190px;
$mobileView: 740px;

// Font Size Desktop View
$D_logoFontSize: 30px;
$D_majorHeadingFontSize: 24px;
$D_minorHeadingFontSize: 20px;
$D_subHeadingFontSize: 16px;
$D_mainContentFontSize: 14px;
$D_subContentFontSize: 12px;
// Font Size Intermediate View
$I_logoFontSize: 26px;
$I_majorHeadingFontSize: 24px;
$I_minorHeadingFontSize: 20px;
$I_subHeadingFontSize: 16px;
$I_mainContentFontSize: 14px;
$I_subContentFontSize: 12px;
// Font Size Mobile View
$M_logoFontSize: 30px;
$M_majorHeadingFontSize: 24px;
$M_minorHeadingFontSize: 20px;
$M_subHeadingFontSize: 16px;
$M_mainContentFontSize: 14px;
$M_subContentFontSize: 12px;
