@import 'variables';

.header {
    display: flex;
    justify-content: space-between;
}
.titleSection {
    text-align: start;
    margin-right: 20px;
}
.title {
    font-weight: 700;
    font-size: $minorHeadingFontSize;
}
.titleEnglish {
    font-weight: 500;
    font-size: $subHeadingFontSize;
    color: rgba(255, 255, 255, 0.7);
}
.infoSection {
    font-weight: 600;
    font-size: $mainContentFontSize;
    white-space: nowrap;
    text-align: end;
}
