.genreFilter {
    background: rgba(196, 196, 196, 0.2);
    border-radius: 15px;
    width: 100%;
    height: calc(100% - 340px);
    padding: 10px 5px 20px 10px;
    position: relative;
}
.titleContainer {
    margin-bottom: 10px;
    text-align: center;
    h5 {
        font-weight: 600;
        font-size: 16px;
        padding-right: 5px;
    }
}
.genreFilterInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px 5px;
    width: 100%;
    height: calc(100% - 30px);;
    padding: 0 10px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(196, 196, 196, 0.7);
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(196, 196, 196);
    }
}
.genre {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    font-weight: 600;
    font-size: 13px;
    padding: 2px 8px;
    flex-grow: 1;
    text-align: center;
}
