.logo {
  padding-left: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: rgba(0, 240, 255, 0.5);
  text-decoration: none;
  &:hover {
    color: rgba(0, 240, 255, 0.7);
  }
}
