@use 'mixins' as *;

.mainContent {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 0.7);
    border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 196, 196);
  }
}

@include TabletView {
  .mainContent {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}