.error {
    padding: 20px;
    color: white;
    text-align: center;

    img {
        height: 300px;
        width: 300px;
    } 
    
    button {
        font-size: large;
        font-weight: bold;
        padding: 10px 20px;
        background-color: rgb(85, 228, 253);
        border: none;
        border-radius: 5px;
        transition: transform 100ms;
    }

    button:hover {
        background-color: rgb(0, 217, 255);
        transform: scale(1.04);
    }
}