@use 'variables' as *;

.row {
    position: relative;
    color: white;
    padding: 0 10px;
    h2 {
        padding-left: 10px;
        margin-bottom: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: $D_majorHeadingFontSize;
        color: rgba(255, 255, 255, 0.5);
    }
}

.rowContent {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 0;
    &::-webkit-scrollbar {
        display: none;
    }
}

.poster {
    padding: 10px;
}

.img {
    border-radius: 5px;
    width: 200px;
    height: 280px;
    object-fit: cover;
    transition: transform 400ms;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.btn {
    height: 300px;
    padding: 0 10px;
    position: absolute;
    z-index: 9;
    opacity: 0.5;
    background-color: transparent;
    background-image: linear-gradient(rgba(22, 220, 255, 0), rgba(22, 220, 255, 0.7), rgba(22, 220, 255, 0));
    border: none;
    transition: transform 100ms;
    &:hover {
        background-image: linear-gradient(rgba(22, 220, 255, 0), rgb(0, 217, 255), rgba(22, 220, 255, 0));
        transform: scaleX(1.15);
    }
}
.leftbtn {
    left: 10px;
}
.rightbtn {
    right: 10px;
}
.arrow {
    height: 20px;
    width: 20px;
}
