.subMenu {
  position: relative;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 15px;
  padding: 10px 5px 10px 8px;
  height: calc(100% - 30px);
  width: calc(100% - 20px);
}
.subMenuInner {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 10px;
  padding: 0px 5px 0px 7px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 0.7);
    border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 196, 196);
  }
}
