@use "../../variables" as *;
@use "../../mixins" as *;

.ratingFilter {
    background: rgba(196, 196, 196, 0.2);
    border-radius: 15px;
    width: 100%;
    padding: 10px 20px 20px;
    height: 120px;
    overflow: hidden;
}
.titleContainer {
    margin-bottom: 10px;
    text-align: center;
    h5 {
        font-weight: 600;
        font-size: $D_subHeadingFontSize;
    }
}
.ratingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px 10px;
}

@include IntermediateView {
    .ratingFilter {
        height: auto;
        overflow: visible;
    }
}
